<section>
    <!--Main layout-->
    <div class="container">
        <!--First row-->
        <div class="row">

            <div class="col-md-7">
                <!--Featured image -->
                <div class="view overlay hm-white-light z-depth-1-half">
                    <img src="../assets/hvag.jpg" class="img-fluid " alt="">
                    <div class="mask">
                    </div>
                </div>
                <br>
            </div>

            <!--Main information-->
            <div class="col-md-5">
                <h2 class="h2-responsive">HV Advisory Group</h2>
                <hr>
                <p>{{ (company | async)?.main_info }}</p>
                <a routerLink="/join" class="btn btn-blue-grey">Join HVAG</a>
            </div>
        </div>
        <!--/.First row-->


        <!--Second row-->
        <div class="row">
            <!--First columnn-->
            <div class="col-md-4">

            </div>
            <!--First columnn-->

            <!--Second columnn-->
            <div class="col-md-4">

            </div>
            <!--Second columnn-->

            <!--Third columnn-->
            <div class="col-md-4">

            </div>
            <!--Third columnn-->
        </div>
        <!--/.Second row-->


    </div>
    <!--/.Main layout-->
</section>
