<main>

    <!--Caption-->
    <div class="caption">
        <div class="flex-center animated fadeInDown">
            <ul >
                <li>
                    <h1 class="h1-responsive">Community and Services</h1></li>
                <li>
                    <h4 class="h4-responsive">Connecting and Learning</h4>
                </li>
                <li>
                    <a target="_blank" href="#" class="btn btn-lg btn-blue-grey">Join HVAG</a>
                </li>
            </ul>
        </div>
    </div>
    <!--Caption-->


    <section class="community">
        <!--Main layout-->
        <div class="container">
            <!--First row-->
            <div class="row">
                <div class="col-md-6">
                    <h1 class="h1-responsive">Community</h1>
                    <hr>
                    Collaborte with HVAG team members.
                </div>

                <!--Main information-->
                <div class="col-md-6">
                    <h4 class="h4-responsive">Events at HVAG</h4><br><br>

                    <table class="table table-sm">
                        <tr>
                            <td>Lunch + Learn</td>
                            <td>Join the team for lunch and to learn about - anything!
                        </tr>
                        <tr>
                            <td>Happy Hour</td>
                            <td>Join the team for beer and to learn about - anything!
                        </tr>

                    </table>

                </div>
            </div>
            <!--/.First row-->

            <!--Second row-->
            <div class="row">
                <!--First columnn-->
                <div class="col-md-6">

                </div>
                <!--First columnn-->

                <!--Second columnn-->
                <div class="col-md-2">

                </div>
                <!--Second columnn-->

                <!--Third columnn-->
                <div class="col-md-4">

                </div>
                <!--Third columnn-->
            </div>
            <!--/.Second row-->
        </div>
        <!--/.Main layout-->
    </section>

</main>
