<header>

    <!--Navbar-->
    <nav class="navbar navbar-fixed-top navbar-dark special-color">

        <!-- Collapse button-->
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
            <i class="fa fa-bars"></i>
        </button>

        <div class="container">

            <!--Collapse content-->
            <div class="collapse navbar-toggleable-xs" id="collapseEx2">
                <!--Navbar Brand-->
                <a class="navbar-brand" routerLink="home">{{ (company$ | async)?.name }}</a>
                <!--Links-->
                <ul class="nav navbar-nav float-xs-right">
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="home">
                        <i class="fa fa-home" aria-hidden="true"></i> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="about">
                        <i class="fa fa-info" aria-hidden="true"></i> About</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="join"
                            *ngIf="!authInfo$?.isLoggedIn()">
                            <i class="fa fa-user-plus" aria-hidden="true"></i> Join</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="member"
                            *ngIf="authInfo$?.isLoggedIn()">
                            <i class="fa fa-users" aria-hidden="true"></i> Members</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="signin"
                            *ngIf="!authInfo$?.isLoggedIn()">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> Sign-In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            *ngIf="authInfo$?.isLoggedIn()"
                            (click)="signout()">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Sign-Out</a>
                    </li>
                </ul>

                
                <!--Search form-->
                <!--
                <form class="form-inline">
                    <input class="form-control" type="text" placeholder="Search">
                </form>
                -->
            </div>
            <!--/.Collapse content-->

        </div>

    </nav>
    <!--/.Navbar-->

</header>
