/* You can add global styles to this file, and also import other style files */

.hvaglayout {
    padding-top: 40px;
}

.hvag-smallfont {
    font-size: 80%;
    color: red;
    text-align: center;
}